body
{
 color:red;
 background-color:blue;
 marign:auto;
 padding:30px;
 border:1px solid black;
 opacity:0.3;
 position:relative;
<<<<<<< HEAD
=======
 font-size:16px;
>>>>>>> gordanasbranch
 font-family:tomaha;
disply:block;
}
